.WaveChat {
    /* display: none; */
    position: fixed;
    bottom: 100px;
    right: 220px;
    height: 285px;
    background-color: rgb(237, 239, 244);
    width: 300px;
    border: 1px solid rgba(29, 49, 91, .3);
    border-radius: 8px 8px 0 0 !important;
}

.rightPartContainer {
    height: 100%;
    flex: 1;
}